<!DOCTYPE html>
<html>
  <head>
    
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/style.css">
    <script>

          window.onload = function () {
            <% systems.forEach(system => { %>
          var chart = new CanvasJS.Chart("<%= system.name %>chart", {
          	animationEnabled: true,
          	theme: "light2",
          	title:{
          		text: "<%= system.name %> Response Time"
              },
              axisX:{
      	labelFormatter: function(e){
      		return "";
      	}
      },
          	data: [{
          		type: "line",
                	indexLabelFontSize: 16,
          		dataPoints: [<% system.uptime.forEach(ping => { %>
              {y: <%= ping.ping %>, label: "<%= ping.time %>"},
              <% }) %>]
          	}]
          });
          chart.render();
          <% }) %>
          }
    </script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <img class="logo" src="./logo.png" />
          <% var total = 0; for(var i = 0; i < systems.length; i++) { total +=
          parseInt(systems[i].ping); } var avg = total / systems.length; %>
          <div
            class="system-status<% if (avg <= 500) { %> operational<% } %><% if (avg > 500) { %> degraded<% } %>"
          >
            <% if (avg <= 500) { %> All Systems Operational <% } %> <% if (avg >
            500) { %> Degraded Performance <% } %>
          </div>
          <main>
            <h1>Service Status</h1>
            <section>              
                <div class="row">
                <% systems.forEach(service => { %>
                  <div class="col-md-6">
                      <div class="status-box">
                        <div class="con <% if (service.ping <= 500) { %> operational<% } %><% if (service.ping > 500) { %> degraded<% } %>">
                          <% if (service.ping <= 500) { %> <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="check" class="svg-inline--fa fa-check fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"></path></svg><% } %><% if (service.ping > 500) { %> <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="minus" class="svg-inline--fa fa-minus fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M416 208H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h384c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z"></path></svg><% } %>
                        </div>
                        <span class="stat"><%= service.name %></span>
                      </div>
                  </div>                
              <% }) %>
            </div>
            </section>
          <h1>System Metrics</h1>
          <div class="graph-box">
            <% systems.forEach(system => { %>
            <div class="ping-graph" id="<%= system.name %>chart"></div>
            <% }) %>
          </div>
          <section class="issues">
            <h1>Past Incidents</h1>
            <br />
            <% issues.forEach(issue => { %>
            <h4><%= moment(issue.date).format('ll') %></h4>
            <hr />
            <% if(!issue.issues[0]) { %>
            <p>No issues recorded during this time.</p>
            <% } else { %> <% issue.issues.forEach(i => { %>
            <h5>
              <a href="/issues/<%= i.url %>"><%= i.name %> - <%= i.service %> <% if(!i.status) { %>(Closed)<% }
              %></a>
            </h5>
            <br />
            <% i.actions.forEach(a => { %>
            <span class="action"><%= a.action %></span> -
            <p style="display: inline"><%= a.description %></p>
            <br />
            <span class="badge"><%= moment(a.time).format('LLL') %></span><br />
            <% }) %>
            <br />
            <% }) %> <% } %> <% }) %>
          </section>
          <footer>
            <div class="row">
              <div class="col-md-6 align-left"></div>
              <div class="col-md-6 align-right">Powered By Aukaat</div>
            </div>
          </footer>
        </div>
      </div>
    </div>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
  </body>
</html>
